.ListItem {
    width: 150px;
    padding: 10px 40px 10px 0;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    font-weight: 400;
	position: relative;
	color: #000;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ListItem:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
